@media (max-width: 1366px) {
body{font-size:16px !important;}
}

@media (max-width: 1280px) {

}

@media (max-width: 992px) {
.desk-v, .logo h2{display:none!important;}
.mobmenu{position:absolute;right:10px;top:10px;z-index:100;display:flex!important;}
.margin-head, .margin-page{margin-left:15px;margin-right:15px;}
.whenscroll .margin-head{margin-top:10px;}
.footstyle .margin-head{margin-left:0;margin-right:0;}
.header, .whenscroll.header{position:fixed;top:0;left:0;right:0;background:var(--color1)!important;padding:15px 0!important;}
.header-inner, .whenscroll .header-inner{padding:0!important;}
.header, .head-home .header, .whenscroll.header, .whenscroll.header{background:var(--color1)!important;}
.logo{min-width:auto!important;margin:0 0!important;padding:0 60px 0 0!important;}
.logo img{height:8vh;margin:0 5px 0 0;}
.logo h1{font-size:120%;color:#fff;text-shadow:1px 1px 2px #000;-webkit-text-stroke:1px transparent;}
.logo h2{font-size:90%;color:#fff;text-shadow:1px 1px 2px #000;-webkit-text-stroke:1px transparent;}
.slidetitle h1{font-size:100%;}
.slidetitle h3{font-size:95%;line-height:1.1;margin:10px 0 0;}
.slider-more, .slidetitle-top{height:30px;padding:0 15px;border-radius:30px;margin:10px 0 0;font-size:95%;}
.slidetitle-top{margin:0 0 10px;}
.image-slider{height:40vh;}
.slidetitle{bottom:15px;text-align:center;margin:0 15px;}
.homepage{top:calc(9vh + 10px);}
.jelajah-left{width:calc(100% - 40px);}
.jelajah-right{width:calc(100% - 40px);margin:0 20px;}
.jelajah2, .jelajah3, .jelajah4{margin:20px 0 20px 0!important;float:left;}
.row {margin-right: -10px;margin-left: -10px;}
.col-lg-6, .col-lg-4, .col-md-12, .col-md-6, .col-sm-12, .col-sm-6, .col-xs-6, .col-xs-12 {padding-right: 10px;padding-left: 10px;}
.jelajah-box{width:100%;}
.jelajah-box img{width:75%;margin:-40px auto 15px;}
.jelajah h1{font-size:130%;margin:0 0 15px;}
.map-nav h1, .head-module h1{font-size:130%;}
.jelajah p{font-size:95%;line-height:1.2;margin:0 0 10px;}
.jelajah-box h3{font-size:95%;}
.map-front{height:40vh;}
.aparatur .carousel{padding:0 40px;}
.aparatur .carousel-cell{width:100%;margin:0;}
.widget .carousel-cell{width:100%;margin:0;}
.image-aparatur{height:40vh;}
.aparatur .head-module{display:flex !important;justify-content: center;align-items: center;text-align:center;}
.aparatur .flickity-prev-next-button{display:block;}
.head-module.left-desk p{margin:5px 0 0 15px;}
.population-left .population-inner{font-size:130%;}
.population-right .population-inner{font-size:100%;}
.population-inner{padding:15px 10px;z-index:2;}
.population-grid{margin-top:10px;}
.apbd-left, .apbd-right{width:calc(100% - 40px);}
.apbd-right{margin-top:0;}
.apbd-right h1{font-size:130%;}
.apbd-right h2{font-size:95%;}
.abpd-item td{font-size:100%;}
.apbd-left img{width:35%;height:auto;margin:0 auto;}
.widget .flickity-prev-next-button.previous{left:0;}
.widget .flickity-prev-next-button.next{right:0;}
.grid-column, .grid-main, .grid-side {flex: 0 0 100%;position:relative;overflow:hidden;width:100%;display:block!important;}
.grid-fix {position: relative !important;relative;overflow:hidden;top:0!important;width:100%;display:block!important;}
.grid-main-inner{margin:0!important;}
.contentpage{margin-top:calc(9vh + 20px);}
.metapost.flex-left{display:block!important;}
.head-module h2{font-size:120%;}
.sidebar{margin:30px 0 0;}
.articlecol, .column2{width:calc(100% - 20px);}
.pemb-info h2, .head-block{font-size:100%;}
.small-width{width:100%;margin:0 auto;}
.number-stunting{font-size:120%;}
.headborder h2{font-size:100%;}
.idm-left{width:calc(100% - 20px);}
.idm-right{width:calc(100% - 20px);}
.idm-box svg{height:5vh;}

.sdgs-icon{width:10vh;}
.sdgs-info{width:calc(100% - 10vh);}
.score{font-size:100%;}
.numbertotal{font-size:120%;}
.nilai{font-size:95%;font-weight:bold;}
.nilaiscore{font-size:110%;font-weight:bold;}
.column4{width:calc(100% - 20px);}
.pengaduan-filter{width:100%;}
.pengaduan-left{width:calc(100% - 20px);}
.pengaduan-right{width:calc(100% - 70px);margin-left:70px;}
.homegallery .carousel-cell{width:100%!important;margin:0 10px;}
.image-mandiri{height:30vh;}
.mandiri-left{width:100%;padding:20px 0;}	
.mandiri-right{width:100%;}
.mandiri-left h1{font-size:110%;line-height:1.2;}
.mandiri-left h2{font-size:100%;line-height:1.1;}
.mandiri-left p{font-size:95%;margin:5px 0 0;}
.mandiri-login p{font-size:95%;}
.menuweb .navbar-nav{position:relative!important;overflow:hidden;width:100%;margin:0!important;padding:0!important;}
.menuweb .dropdown-menu{font-size:16px !important;position:relative!important;float:none;background:transparent !important;padding:5px 0 !important;width:100%!important;border-radius:0 !important;box-shadow:none!important;border:none!important;border-left:#919191 1px solid!important;-webkit-box-shadow:none!important;outline:none!important;}
.mobile-menu .dropdown-menu:nth-child(2) .dropdown-menu{background:transparent !important;border-radius:0 !important;box-shadow:none!important;border:none!important;-webkit-box-shadow:none!important;outline:none!important;}
.mobile-menu .dropdown-menu:nth-child(2) .dropdown-menu li{margin-left:15px !important;}
.mobile-menu .dropdown-menu li{background:transparent!important;border-radius:0!important;-webkit-box-shadow:0!important;-moz-box-shadow:none!important;box-shadow:none!important;}
.menuweb{margin:0 auto;float:none;width:100%;}
.menuweb li, .menuweb a, .menuweb li a{color:#fff!important;text-shadow:none!important;color:#000!important;font-weight:bold;background:transparent!important;}
.menuweb li a:focus, .menuweb li a.active{color:#000!important;border:none!important;}
.menuweb li a{padding:8px 0!important;}
.menuweb .dropdown-menu li a, .menuweb .dropdown-menu li a:hover{background:transparent!important;color:#000!important;}
.menuweb .dropdown-menu:nth-child(2) .dropdown-menu ul.dropdown-menu li a{color:#000!important;}
.menuweb .dropdown-menu:nth-child(2) .dropdown-menu{height:auto!important;opacity:1!important;left:0!important;border-radius:0!important;border:none!important;margin:0 0 0 20px!important;}
.mobmenu{display:flex!important;}
#detail-pembangunan .column2{margin-top:15px;}
.mt-20.pembangunan{margin-top:10px!important;}
.idm-left{width:calc(100% - 20px);}
.idm-right{width:calc(100% - 20px);}
.pengaduan-filter .col-sm-12{margin-top:10px;}
.pengaduan-right{width:calc(100% - 70px);margin-left:70px!important;margin-top:15px!important;}
.footer{padding:30px 15px;border-radius:0;}
.footer-center, .footer-right{margin-top:20px;}
.footer-left-logo{width:40px;}
.footer-left-title{width:calc(100% - 50px);}
.footer-column{padding:0 0;}
.footer-left h2, .footer-center h2, .footer-right h2{line-height:1.2;margin:0;}
.footer-right h2, .footer-center h2{margin:0 0 10px;}
.footer-left p{margin:10px 0 0;line-height:1.2;}
.contact-foot{margin:5px 0 0;}
#produk-list .column3{width:calc(100% - 20px);}
.form-module{width:100%;}
.intro-area{margin:0 0;}	
.intro-left{width:100%;height:auto;margin:20px 0 0;}
.intro-right{width:100%;margin:20px 0 0 0;}	
.image-intro{width:120px!important;height:120px!important;margin:0 auto!important;}
.intro-right h1{font-size:120%;line-height:1.2;}
.intro-right h2{font-size:100%;}
.intro-right h3{font-size:100%;}
.intro-desk{font-size:95%!important;margin:15px 0 0;line-height:1.2;}
.intro-right{text-align:center;}
.mobmenu{position:absolute;right:15px;top:25px;z-index:100;display:flex!important;}
.jelajah-search{display:none;}

.colscroll::-webkit-scrollbar{width:0!important;}
.colscroll::-webkit-scrollbar-thumb{background-color:transparent;}

@-moz-document url-prefix() { 
.colscroll {scrollbar-width:none;} 
.colscroll{scrollbar-color: transparent transparent;}
}

}
