# Abaikan folder desa
desa/*

# Abaikan file
*.log
log-*.php
**/.DS_Store
sftp-config.json
.php-cs-fixer.cache
/.htaccess
*.sql
mitra
generate-route.php

# Abaikan file cache milik phpintel (plugin sublime text)
.phpintel/*
.idea/*

# Abaikan file milik library Release dan Curly
*.pem
version.json

# obfuscator
Obfuscator.php

doc/
docs/
example/
examples/
/tools/
vendor/*

.vscode/*
/node_modules
.cache-rector/*
!.cache-rector/.gitkeep

storage/framework
storage/logs

php.ini


# Ignore all symlink folder
/assets/modules/*
/assets/themes/*

# Ignore all files in Modules
Modules/*

# Do not ignore Anjungan folder and its contents
!Modules/Anjungan/
!Modules/Anjungan/**
!Modules/Analisis/
!Modules/Analisis/**
!Modules/BukuTamu/
!Modules/BukuTamu/**
!Modules/Kehadiran/
!Modules/Kehadiran/**
!Modules/Pelanggan/
!Modules/Pelanggan/**
!Modules/Lapak/
!Modules/Lapak/**

# Do not ignore specific files
!Modules/.gitkeep
!Modules/.htaccess
!Modules/index.html

# Ignore PHPUnit result cache file
.phpunit.result.cache

# ignore favicon.ico
/favicon.ico
composer.lock
