# File ini untuk branch master, berisi source code inti sid304-jms
donjo-app/config/db_donjo.php
backup/
assets/sync/
# Jangan simpan isi folder logo. Isinya khusus desa, kecuali
# file logo contoh yg tersedia dalam release sid304 inti.
assets/files/logo/*
!assets/files/logo/gkk.png
# Jangan simpan isi folder logo. Isinya khusus desa.
desa/*
donjo-app/views/surat/.keep
donjo-app/views/surat/.orig.keep
surat/arsip/
!surat/arsip/.keep
generatedata-3.2.4/