.gitignore merge=ours

# Autodetect file teks
* text=auto

# Perlakukan file - file ini sebagai teks
*.php  text
*.css  text
*.js   text
*.txt  text
*.md   text
*.xml  text
*.json text
*.sql  text
*.yml  text

# Pastikan file - file ini tidak diutak-atik
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.rtf   binary

# Jangan sertakan file dan folder ini ke rilis
/.github           export-ignore
/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/*.cache           export-ignore
/*.log.php         export-ignore
/.php-cs-fixer.php export-ignore
/.prettierrc.json  export-ignore
/package-lock.json export-ignore
/package.json      export-ignore
