/*
 * Contoh perubahan css SID web yang diambil dari theme1.download di
 * http://tambahrejo.web.id/first/artikel/201
 * Oleh dan Augush Harry & Dwi Asih Wahyu Saptoto
 * css ini memakai image latar belakang yang ditempatkan di desa/css/images/img1.jpg
 * dan juga memakai image desa/css/images/tb.jpg dan desa/css/images/tb2.jpg
 */

html{
  <param name="quality" value="high" />
  <embed src="http://www.4shared.com/embed/487028039/72ce44cf/preview.swf" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="147" height="34" ></embed>
}
a, a:active { text-decoration: none; background-color: inherit; color: #0404fd; }
a:visited { text-decoration: none; background-color: inherit; color: #0404fd; }
a:hover { text-decoration: none; background-color: inherit; color: #fd0315; }

body{
  background: url(images/img1.jpg) no-repeat center center fixed;; /*warna background bodi web*/
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#maincontainer{
  background: ; /*warna background halaman utama*/
}

#topsection{
  margin:6px;
  height: 177px;
  background: #b50303; /*warna header atas/ background kepala web*/
}

#footer{
  padding: 3px 0;
  background: brown;
}
#footer a{color: #88fd78;}

#header{float: left;width: 100.7%;}
#scroller{
  margin-left:-7px;
  width: 979px;
}

#headleft{float: left;width: 350px;margin-left: -101%;}

#menu_vert{border:0px solid #FFFFFF;border-top:1px solid #777;top:4px; height:30px;background: url(images/tb2.jpg) repeat center top;}
#menu_vert2 { top:5px; padding:right; width:100.7%; float:left;height:90px;}

#divlogo-img{float: left;width: 100px;margin-left: -101%;text-align:center;}
#divlogo-img img{height:110px;margin-top:1px;}

#siteTitle h1{font-family: "Arial Black", Gadget, sans-serif;font-size:21px;color:white;font-weight:bold;} /* merubah font judul web ( desa ) */
#siteTitle h2{font-family: "Arial Black", Gadget, sans-serif;font-size:15px;color:white;font-weight:bold;} /* merubah font judul web ( kecamatan dan kabupaten ) */
#siteTitle h3{font-family: "comic sans", Gadget, sans-serif;font-size:11px;color:yellow;font-weight:bold;} /* merubah font judul web ( alamat ) */

#mainmenu {margin:0px 0 5px -7px; float:left; width:101.3%;height:30px;border:1px #5898D8 solid; background:#204C88;-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;background: url(images/tb.jpg) repeat center top;}

.box {
  background: #dffed9;
}
.box.box-solid.box-danger > .box-header {
  background: #fe0012;
  background-color: #fe0012;
}

/*
 * Menampilkan Artikel mengganti background artikel dll
 * */
.artikel{margin-top: 1em;padding:.8em 0 0 1em;background-color:#8abffb;}
.artikel .judul{font-size:1.25em;color:#fd070d;line-height:1em;margin-bottom:.5em;}
.artikel .kecil{font-size:.8em;color:#040404;font-style:italic;font-weight:400;margin-bottom:.5em;}
.artikel .teks{font-size:1em; margin-right:.5em;}
.artikel .sampul{margin: 1em 0; display:block;width:610px;}
.artikel .teks img{margin-right: 7px; margin-bottom: 5px; float: left;width:260px;background:#ccc;border:solid 1px #aaa;padding:.5em;}
.gb{border-bottom:solid 2px #eee;}



