/*
 * Contoh perubahan css SID web yang diambil dari theme2.download di
 * http://tambahrejo.web.id/first/artikel/201 susunan Augush Harry & Dwi Asih Wahyu Saptoto
 * css ini memakai image latar belakang yang ditempatkan di desa/css/images/img1.jpg
 * dan juga memakai image desa/css/images/tb.jpg dan desa/css/images/tb2.jpg
 *
 * desa-web.css berisi perubahan untuk styles yang ada di assets/front/css/first.css
 *
 */

html{
  <param name="quality" value="high" />
  <embed src="http://www.4shared.com/embed/487028039/72ce44cf/preview.swf" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="147" height="34" ></embed>
}
a, a:active { text-decoration: none; background-color: inherit; color: #0404fd; }
a:visited { text-decoration: none; background-color: inherit; color: #0404fd; }
a:hover { text-decoration: none; background-color: inherit; color: #fd0315; }

body{
  background: url(images/img1.jpg) no-repeat center center fixed;; /*warna background bodi web*/
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#headercontent {
    margin-left: 350px;
}
#maincontainer{
  background: #fff;
}

#topsection{
  height: 177px;
  background: url(images/bg_header.jpg);
}

#footer{
  padding: 3px 0;
  background: #00c0ef;
}


#header{float: left;width: 100.7%;}
#scroller{
  margin-left:-7px;
  width: 990px;
}

#headleft{float: left;width: 350px;margin-left: -101%;}

#menu_vert{
	border:0px solid #FFFFFF;
	border-top:1px solid #777;
	margin-top: 5px;
    margin-right: 5px;
	border-radius: 0px;
	height:33px;
	background: #3b679e; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
#menu_vert2 {
    top: 6px;
    margin-top: 2px;
    width: 99.2%;
    float: left;
    height: 91px;
}

#divlogo-img{
	float: left;
	width: 100px;
	margin-left: -101%;
	text-align:center;
}
#divlogo-img img{
	height:110px;
	margin-top:10px;
}
#divlogo-txt {
    margin-left: 80px;
    color: #204C88;
}
#mainmenu {
    margin: -1px 0 5px -7px;
    float: left;
    width: 101.5%;
    height: 33px;
    /* border: 1px #5898D8 solid; */
    background: #204C88;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	background: #3b679e; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

.box {
	position: relative;
    border-radius: 0px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
	box-shadow: 0px 1px 1px #ccc;
}
.box.box-solid.box-danger > .box-header {
  background: #fe0012;
  background-color: #fe0012;
}
.box.box-danger {
    border-top: 0px solid #dd4b39;
}
.box-header.with-border {
    background: #00c0ef;
    border-top: 5px solid #CCC;
    border-bottom: 5px solid #CCC;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.box.box-primary {
    border-top: 0px solid #3c8dbc;
}
.box.box-default {
    border-top: 0px solid #d2d6de;
	border: 1px solid #00c0ef;
}
.box-header {
	color: #fff;
    display: block;
    padding: 10px;
    position: relative;
    background: #00c0ef;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
	display: inline-block;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0px 1px 1px #333;
    margin: 0;
    line-height: 1;
}
.box.box-solid.box-primary {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-primary > .box-header {
    color: #ffffff;
    background: #00c0ef
}
.box.box-solid.box-default {
    border: 1px solid #00c0ef;
}
.box.box-success {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-default > .box-header {
    color: #fff;
    background: #00c0ef;
}
.box.box-solid.box-warning {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-warning > .box-header {
    color: #ffffff;
    background: #00c0ef;
}
.box.box-solid.box-info > .box-header {
    color: #ffffff;
    background: #00c0ef;
    background-color: #00c0ef;
    border-bottom: 0px;
    border-top: 0px;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
/*
 * Menampilkan Artikel mengganti background artikel dll
 * */
.artikel .sampul img {
	margin-left: auto;
	margin-right: auto;
	display: block;
    width: 97%;
    padding: .5em;
    background: #ccc;
    border: solid 1px #aaa;
}
.artikel{
	margin-top: 0em;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px #ccc;
    border-radius: 2px;
}
.artikel .judul{
	font-size: 1.25em;
    color: #333;
    font-family: Century Gothic;
    line-height: 1em;
    font-weight: normal;
    margin-bottom: 0em;
}
.artikel .kecil{
	font-size:.8em;
	color:#ccc;
	font-style:italic;
	font-weight:400;
	margin-bottom:.5em;
}
.artikel .teks{font-size:1em; margin-right:.5em;}
.artikel .sampul{margin: 1em 0; display:block;width:100%;}
.artikel .teks img{
	margin-right: 7px;
	margin-bottom: 5px;
	float: left;
	max-width: 260px;
    max-height: 155px;
	background:#ccc;
	border:solid 1px #aaa;
	padding:.5em;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 10px 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.gb{
	border-bottom:solid 2px #eee;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
}
/* Typographic */
h4 {
    display: block;
    font-weight: normal;
}
#siteTitle h1{
	font-family: "Century Gothic", Gadget, sans-serif;
    font-size: 21px;
    color: white;
    font-weight: normal;
    text-shadow: 0 1px 1px #777;
} /* merubah font judul web ( desa ) */
#siteTitle h2{
	font-family: "Century Gothic", Gadget, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
    text-shadow: 0 1px 1px #777;
} /* merubah font judul web ( kecamatan dan kabupaten ) */
#siteTitle h3{font-family: "Century Gothic", Gadget, sans-serif;
    font-size: 12px;
    color: #207cca;
    font-weight: normal;
    text-shadow: 0 1px 1px #777;
} /* merubah font judul web ( alamat ) */

/* Form */
input:not([type]),
input[type="email" i],
input[type="number" i],
input[type="password" i],
input[type="tel" i],
input[type="url" i],
input[type="text" i] {
    padding: 3px 3px;
    margin-bottom: 5px;
    width: 96%;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 5px 5px 5px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}


