/*
 * Contoh perubahan css SID web yang diambil dari theme2.download di
 * http://tambahrejo.web.id/first/artikel/201 susunan Augush Harry & Dwi Asih Wahyu Saptoto
 *
 * desa-default.css berisi perubahan untuk styles yang ada di assets/front/css/default.css
 *
 */

/* Subnavigation */
#footer a{
	color: #fff;
}
#global-nav.top ul{background: #fc0202!important; opacity : 0.8; filter : apha(opacity=80);} /*warna background sub menu*/
#global-nav.main ul{background: #fc0202!important; opacity : 0.8; filter : apha(opacity=80);}
#global-nav a {
    color: #ffffef;
    font-family: Century Gothic;
    display: block;
    height: 33px;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #444;
}
#global-nav li {
    padding: 0 0px;
}
#global-nav>li {
    float: left;
    /* margin: 0px 15px 0px 15px; */
    position: relative;
	height: 33px;
    padding: 0 15px 0 15px;
    /* background: #000; */
    border-right: 1px solid #ccc;
}
#global-nav>li {
	float: left;
	margin-left: 0px;
	position: relative;
}
#global-nav li:hover {
    background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}
#global-nav ul {
			z-index:99999999;
			display: none;
			left: 0px;
			padding-top: 11px;
			padding-bottom: 1px;
			position: absolute;
			width: 180px;
		}
