/*
 * File ini berisi CSS ubahan desa untuk tampilan siteman
 * Letakkan file ini di: desa/css/siteman.css
*/

/* Sebagai contoh:
 * - Perubahan css di bawah memungkinkan penggunaan gambar untuk latar belakang halaman siteman.
 *   Gambar yang digunakan harus ditempatkan di desa/css/images/img1.jpg
 *
*/
body.login{
  background: url(images/img1.jpg) no-repeat center fixed; /*gambar background */
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
/* Contoh mengubah warna latar belakang deretan tombol menu utama
*/
div.contentm{
	background-color: #f4f4da; /* misalnya coba ganti menjadi #c8f1c8 */
}
#sid {
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 25px;
    text-align: center;
    text-shadow: 0px 0px 2px #777;
    margin-top: 16px;
    padding-right: 7px;
}
#logo {
    margin-top: 5px;
    margin-left: 30px;
}
#desa {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-align: left;
    font-family: verdana;
    padding-top: 0;
}