:root {
  --primary-base-color: #16803c;
  --primary-darken-color: #0a5b28;
  --secondary-base-color: #D08E0D;
  --secondary-darken-color: #946200;
  --accent-base-color: #dde408;
  --accent-darken-color: #afac05;
}
