/*
 * File ini berisi CSS ubahan desa untuk tema 'default'
 * Tema 'default' memakai image:
 *     - latar belakang body yang ditempatkan di desa/css/default/images/img1.jpg
 *
 * desa-web.css ini berisi perubahan untuk styles yang ada di assets/front/css/first.css dan
 * di themes/default/css/first.css
*/

/* 	Sebagai contoh:
		Hapus baris sebelum dan sesudah 'background-color' jika ingin mengubah warna latar-belakang header
*/
body{
  background: url(images/img1.jpg) no-repeat center fixed; /*gambar background */
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#topsection{
	/* -- hapus baris ini
	background-color: #3c8dbc;
	-- hapus baris ini */
}
/* Aktifkan untuk menyembunyikan feed luar */
#feed{
	/*display: none;*/
}

/* Aktifkan untuk mengubah judul artikel dengan awalan huruf kapital setelah spasi */
.artikel .judul {
	/* text-transform: capitalize; */
}