.data-case-container {
	background-color: #FFF8DC; width:100%; height: 100%; padding: 0px; margin: 0px;
}
.data-case-container li,
.data-case-container li p,
.data-case-container li td {
	font-family: "ants-thin", "Century Gothic", Arial; font-size: 12px;
}
.data-case-container li.info-date {
	font-family: "ants-strong", "Century Gothic", Arial; font-size: 14px;
	font-weight: bold; padding: 5px; text-align: center;
}
.data-case-container li.info-region {
	padding: 4px 5px; background-color: #e64946; color: #fff; text-align: center;
	font-family: "ants-strong", "Century Gothic", Arial; font-size: 10px; font-weight: bold;
}
.data-case-container table td {
	padding: 3px 5px; border-bottom: 1px solid #e4bd2e;
}
.data-case-container table tr:last-child td {
	border-bottom: none;
}
.data-case-container table td.dot {
	width: 5px; white-space: nowrap; text-align: center;
}
.data-case-container table td.case {
	width: 5px; white-space: nowrap; text-align: right;
}
.info-box {
    display: block;
    min-height: 53px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 53px;
    width: 53px;
    padding-top: 8px;
    text-align: center;
    font-size: 35px;
    line-height: 0px;
    background: rgba(0,0,0,0.2);
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 53px;
}
.info-box-text {
    text-transform: uppercase;
}
.info-box .progress {
    background: rgba(0,0,0,0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}
.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box .progress .progress-bar {
    background: #fff;
}
.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box-text {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.progress-description {
    margin: 0;
    display: block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}