#map
{
  width:100%;
  height:73vh
}
#content {
  height: auto !important;
}
#bodyContent p {
  margin: 18px 0;
}
.kantor_desa .leaflet-popup-content {
  height: auto;
}
.leaflet-tooltip-content p {
    margin: 18px 0 !important;
}
.leaflet-tooltip {
  /*height: 245px;*/
}
.leaflet-control-layers {
	display: block;
	position: relative;
}
.leaflet-control-locate a{font-size:2em;color:#444;cursor:pointer}
.leaflet-control-locate.active a{color:#2074b6}
.leaflet-control-locate.active.following a{color:#fc8428}
.leaflet-control-locate-location circle{animation:leaflet-control-locate-throb 4s ease infinite}@keyframes leaflet-control-locate-throb{0%{stroke-width:1}50%{stroke-width:3;transform:scale(0.8, 0.8)}100%{stroke-width:1}}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-social.btn-sm {
  padding-left: 38px;
}
.bg-navy {
  background-color: #001f3f !important;
  color: #fff !important;
}

.square {
  position: relative;
  height: 70px;
  width: 100%;
  border-radius: 10px;
  color: #efefef;
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3px 15px;
  overflow: hidden;
  margin-left: 230px;
}

.covid {
  height: 70px;
  z-index: 10;
}

.covid span:nth-child(1) {
  font-size: small;
  font-weight: normal;
}
.covid span:nth-child(2) {
  font-size: medium;
}

.positif {
  background: #F82649;
}

.sembuh {
  background: #09AD95;
}

.meninggal {
  background: #D43F8D;
}

.line {
  position: relative;
  height: 17px;
  width: auto;
  border-radius: 5px;
  margin-left: 280px;
  font-size: 14px;
}

.line-short {
  width: 100px;
}

.covid::before {
  content: '';
  position: absolute;
  background-image: url('../images/corona.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.covid.shimmer::before {
  content: '';
  background-image: none;
}

.shimmer {
  background: #efefef;
  background-image: linear-gradient(to right, #efefef 0%, #edeef1 20%, #f6f7f8 40%, #efefef 100%);
  background-repeat: no-repeat;
  background-size: cover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

#covid_local_peta {
  margin-right: 10px;
  margin-left: 10px;
}
#covid_local_peta .panel {
  background-color: inherit;
  margin-bottom: 0px;
}
#covid_local_peta .panel-body {
  background-color: white;
}
#covid_local_peta .panel-body-lg {
  background-color: none;
}
#covid_local_peta .panel-body.sub {
  background-color: inherit;
  padding-top: 10px;
}
#covid_local_peta .row .panel-heading {
  height: 50px;
  padding: 1px;
}
