/*
 * File ini berisi CSS ubahan desa untuk tema 'hadakewa'
 * CSS ini memakai image:
 *     - latar belakang body yang ditempatkan di desa/css/hadakewa/images/img1.jpg
 *     - dan latar belakang header yang ditempatkan di desa/css/hadakewa/images/bg_header.jpg
 *
 * desa-web.css ini berisi perubahan untuk styles yang ada di assets/front/css/first.css dan
 * di themes/hadakewa/css/first.css
*/

body{
  background: url(images/img1.jpg) no-repeat center center fixed;; /*warna background bodi web*/
}

#topsection{
  background: url(images/bg_header.jpg);
}

/*
Set Warna Bar untuk Anggaran dan Realisasi
Source : https://www.highcharts.com/docs/chart-design-and-style/style-by-css
*/
.highcharts-point.highcharts-color-0,
.highcharts-legend-item.highcharts-color-0 .highcharts-point,
.highcharts-tooltip .highcharts-color-0 {
	fill: #34b4eb;
}

.highcharts-tooltip.highcharts-color-0,
.highcharts-data-label-connector.highcharts-color-0 {
	stroke: #34b4eb;
}

.highcharts-point.highcharts-color-1,
.highcharts-legend-item.highcharts-color-1 .highcharts-point,
.highcharts-tooltip .highcharts-color-1 {
	fill: #b4eb34;
}
.highcharts-tooltip.highcharts-color-1,
.highcharts-data-label-connector.highcharts-color-1 {
	stroke: #b4eb34;
}