/*
 * Contoh perubahan css SID web yang diambil dari theme2.download di
 * http://tambahrejo.web.id/first/artikel/201 susunan Augush Harry & Dwi Asih Wahyu Saptoto
 * css ini memakai image latar belakang yang ditempatkan di desa/css/images/img1.jpg
 * dan juga memakai image desa/css/images/tb.jpg dan desa/css/images/tb2.jpg
 *
 * desa-web.css berisi perubahan untuk styles yang ada di assets/front/css/first.css
 *
 */

html{
  <param name="quality" value="high" />
  <embed src="http://www.4shared.com/embed/487028039/72ce44cf/preview.swf" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="147" height="34" ></embed>
}
a, a:active { text-decoration: none; background-color: inherit; color: #0404fd; }
a:visited { text-decoration: none; background-color: inherit; color: #0404fd; }
a:hover { text-decoration: none; background-color: inherit; color: #fd0315; }

body{
  background: url(images/img1.jpg) no-repeat center center fixed;; /*warna background bodi web*/
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	margin: 0;
    padding: 0;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
	color: rgba(51, 51, 51, 0.96);
}
#headercontent {
    margin-left: -6px;
}
#maincontainer{
  background: #fff;
}

#topsection{
  height: 177px;
  background: url(images/bg_header.jpg);
  margin: 6px 0px 6px 0px;
}

#footer{
  padding: 3px 0;
  background: #00c0ef;
}


#header{
	float: left;
	width: 100.7%;
}
#scroller {
    margin-top: 10px;
    margin-left: -6px;
    float: left;
    width: 990px;
    background: #17b514;
    padding-top: 3px;
    height: 20px;
	border-right: 0px solid;
}
#headleft{
	float: left;
    width: 700px;
    margin-left: -101%;
    margin-top: 33px;
}

#menu_vert{
	border:0px solid #FFFFFF;
	border-top: 0px solid #777;
	margin-top: 0px;
    margin-right: 0px;
	border-radius: 0px;
	height: 32px;
    border: 1px #ddd solid;
    background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	box-shadow: 0px 0px 0px #555;
    -moz-box-shadow: 0px 0px 0px #000;
    -webkit-box-shadow: 0px 0px 0px #000;
}
#menu_vert2 {
    top: 6px;
    margin-top: -8px;
    margin-left: -13px;
    width: 100%;
    float: left;
    height: 91px;
}

#divlogo-img{
	float: left;
	width: 100px;
	margin-left: -101%;
	text-align:center;
}
#divlogo-img img{
	height:110px;
	margin-top:15px;
}
#divlogo-txt {
    margin-left: 82px;
    color: #204C88;
}
#mainmenu {
    margin: -1px 0 5px -6px;
    float: left;
	border-radius: 0px;
    width: 101.1%;
    height: 33px;
    border: 1px #ddd solid;
    background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.box {
	position: relative;
    border-radius: 0px;
    background: #ffffff;
    border-top: 0px solid #d2d6de;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
	box-shadow: 0px 1px 1px #ccc;
}
.box.box-solid.box-danger > .box-header {
  background: #fe0012;
  background-color: #fe0012;
}
.box.box-danger {
    border-top: 0px solid #dd4b39;
}
.box-header.with-border {
    background: #00c0ef;
    border-top: 5px solid #CCC;
    border-bottom: 5px solid #CCC;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.box.box-primary {
    border-top: 0px solid #3c8dbc;
}
.box.box-default {
    border-top: 0px solid #d2d6de;
	border: 1px solid #00c0ef;
}
.box-header {
	color: #fff;
    display: block;
    padding: 10px;
    position: relative;
    background: #00c0ef;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
	display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0px 1px 1px #333;
    margin: 0;
    line-height: 1;
}
.box.box-solid.box-primary {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-primary > .box-header {
    color: #ffffff;
    background: #00c0ef
}
.box.box-solid.box-default {
    border: 1px solid #00c0ef;
}
.box.box-success {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-default > .box-header {
    color: #fff;
    background: #00c0ef;
}
.box.box-solid.box-warning {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-warning > .box-header {
    color: #ffffff;
    background: #00c0ef;
}
.box.box-solid.box-info > .box-header {
    color: #ffffff;
    background: #00c0ef;
    background-color: #00c0ef;
    border-bottom: 0px;
    border-top: 0px;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
/*
 * Menampilkan Artikel mengganti background artikel dll
 * */
.artikel .sampul img {
	margin-left: auto;
	margin-right: auto;
	display: block;
    width: 97%;
    padding: .5em;
    background: #ccc;
    border: solid 1px #aaa;
}
.artikel{
	margin-top: 0em;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px #ccc;
    border-radius: 2px;
}
.artikel .judul{
	font-size: 1.1em;
    color: #333;
    font-family: Roboto, sans-serif;
    line-height: 1em;
    font-weight: normal;
    margin-bottom: 0em;
	margin-top: 0px;
}
.artikel .kecil{
	font-size:11px;
	color:#ccc;
	font-style:normal;
	font-weight:400;
	margin-bottom:.5em;
	margin-top: 0px;
}
.artikel .teks{font-size:1em; margin-right:.5em;}
.artikel .sampul{margin: 1em 0; display:block;width:100%;}
.artikel .teks img{
	margin-right: 7px;
	margin-bottom: 5px;
	float: left;
	max-width: 260px;
    max-height: 155px;
	background:#ccc;
	border:solid 1px #aaa;
	padding:.5em;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 10px 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.gb{
	border-bottom:solid 2px #eee;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
}
/* Typographic */
th {
    font-weight: normal;
    text-align: -internal-center;
}
h4 {
    display: block;
    font-weight: normal;
}
#siteTitle h1{
	font-family: "Courier New", sans-serif;
    font-size: 40px;
    color: #0c83c5;
    padding-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #777;
    margin-bottom: -18px;
    -webkit-text-stroke: 1px #fff;
} /* merubah font judul web ( desa ) */
#siteTitle h1_1{
    font-family: "Courier New", sans-serif;
    font-size: 30px;
    color: #0c83c5;
    padding-top: 29px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #777;
    margin-bottom: -20px;
    -webkit-text-stroke: 1px #fff;
} /* merubah font judul web ( desa ) */
#siteTitle h2{
    font-family: "Gautami", sans-serif;
    font-size: 14px;
    color: #f67f0c;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    margin-top: 27px;
    margin-bottom: 13px;
    text-transform: uppercase;
} /* merubah font judul web ( kecamatan dan kabupaten ) */
#siteTitle h3{
font-family: "Gautami", sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    margin-top: 28px;
    text-transform: uppercase;
    margin-bottom: 8px;
} /* merubah font judul web ( alamat ) */
#siteTitle h4{
    font-family: "Gautami", sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    margin-top: -11px;
    text-transform: uppercase;
    margin-bottom: 2px;
} /* merubah font kontak web ( alamat ) */
/* merubah font footer web ( alamat ) */
#siteTitles h1{
	font-family: "'Roboto', sans-serif", Gadget, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: normal;
	margin-bottom: -25px;
} /* merubah font footer web ( desa ) */
#siteTitles h2{
	font-family: "'Roboto', sans-serif", Gadget, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
	margin-top: 24px;
	margin-bottom: 10px;
} /* merubah font footer web ( kecamatan dan kabupaten ) */
#siteTitles h3{
    font-family: "'Roboto', sans-serif", Gadget, sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    margin-top: 24px;
	line-height: 1.3;
} /* merubah font judul web ( alamat ) */

/* Form */
input:not([type]),
input[type="email" i],
input[type="number" i],
input[type="password" i],
input[type="tel" i],
input[type="url" i],
input[type="text" i] {
    padding: 3px 3px;
    margin-bottom: 5px;
    width: 96%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 5px 5px 5px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
	border-radius: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2px;
}
/* Chart Button */
.btn-xs,
.btn-xs, .btn-group-xs > .btn {
    padding: 5px 5px;
    margin-top: -2px;
    margin-left: 4px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}
#siteTitle {
    padding: 0 0 0 10px;
    line-height: 1.2em;
}
.btn-block {
  display: block;
  width: 100%;
  margin-top: 5px;
}