/*
 * File ini berisi CSS ubahan desa untuk tema 'hadakewa'
 * CSS ini memakai image:
 *     - latar belakang body yang ditempatkan di desa/css/hadakewa/images/img1.jpg
 *     - dan latar belakang header yang ditempatkan di desa/css/hadakewa/images/bg_header.jpg
 *
 * desa-web.css ini berisi perubahan untuk styles yang ada di assets/front/css/first.css dan
 * di themes/hadakewa/css/first.css
*/

body{
  background: url(images/img1.jpg) no-repeat center center fixed;; /*warna background bodi web*/
}

#topsection{
  background: url(images/bg_header.jpg);
  height: 301px;
}
#headercontent {
    width: 100%;
	margin-left: 0px;
}
#menu_vert {
    max-width: 99.8%;
}
#mainmenu {
	margin: 0px 0 10px 0px;
    max-width: 100%;
	height: 34px;
}
#header {
    width: 100%;
}
#headleft {
    margin-left: 0;
	margin-top: -80px;
}
.box {
    position: inherit;
}
#contentwrapper {
    width: 100%;
}
#headleft {
	width: 100%;
}
#siteTitle {
    padding: 0;
	text-align: center;
}

