:root {
  --primary-base-color: #008BA9;
  --primary-darken-color: #006A82;
  --secondary-base-color: #D08E0D;
  --secondary-darken-color: #946200;
  --accent-base-color: #00BA88;
  --accent-darken-color: #00966D;
}
