
a{text-decoration:none; color:#5b5b5b !important;}
a:hover{color:#878b91 !important; text-decoration:none !important;}
a:focus{outline:none; text-decoration:none !important ;color:#878b91 !important;}
.color-1{color:#878b91;}
.color-light{color:#bac1af;}
.darkmode .color-1{color:#1ab800;}
.bgwhite{background:#fff;}
.bg-toska{background-color:#42b095;}
.bg-biru{background-color:#42a5c1;}
.bg-ungu{background-color:#a58cc5;}
.bg-hijau{background-color:#adadad;}
.bg-color1{background-color:#b5bbb1;}
.bg-color2{background-color:#adadad;}
.bg-color3{background-color:#878b91;}
.bg-color4{background-color:#878b91;}
.bg-color5{background-color:#60646b;}
.mainmenu:before{background:#878b91;}
.mainmenu:after{background:#60646b;}
.border-color{border-color:#adadad !important;}
.mainmenu .carouselcustom:before{background: transparent;
background: -moz-linear-gradient(90deg, transparent 0%, #60646b 90%);
background: -webkit-linear-gradient(90deg, transparent 0%, #60646b 90%);
background: linear-gradient(90deg, transparent 0%, #60646b 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="transparent",endColorstr="#60646b",GradientType=1);}
.bg-gradient1{background: transparent;
background: -moz-linear-gradient(90deg, transparent 45%, #b5bbb1 95%);
background: -webkit-linear-gradient(90deg, transparent 45%, #b5bbb1 95%);
background: linear-gradient(90deg, transparent 45%, #b5bbb1 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="transparent",endColorstr="#b5bbb1",GradientType=1);}
.bg-gradient2{background:rgba(149,149,149,0.5);}
.mainheader-cover-color{opacity:0.75;background: #808086;}
.bg-mainmenu{background: #878b91;background: -moz-linear-gradient(90deg, #878b91 5%, rgba(83,99,121,0.6) 30%, rgba(83,99,121,0.6) 70%, #60646b 95%);background: -webkit-linear-gradient(90deg, #878b91 5%, rgba(83,99,121,0.6) 30%, rgba(83,99,121,0.6) 70%, #60646b 95%);background: linear-gradient(90deg, #878b91 5%, rgba(83,99,121,0.6) 30%, rgba(83,99,121,0.6) 70%, #60646b 95%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878b91",endColorstr="#60646b",GradientType=1);}
.bg-gradient-hor{background: #878b91;background: -moz-linear-gradient(90deg, #878b91 0%, #60646b 80%);background: -webkit-linear-gradient(90deg, #878b91 0%, #60646b 80%);background: linear-gradient(90deg, #878b91 0%, #60646b 80%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878b91",endColorstr="#60646b",GradientType=1);}
.bg-gradient-vert{background: #878b91;background: -moz-linear-gradient(0deg, #878b91 0%, #60646b 80%);background: -webkit-linear-gradient(0deg, #878b91 0%, #60646b 80%);background: linear-gradient(0deg, #878b91 0%, #60646b 80%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878b91",endColorstr="#60646b",GradientType=1);}
.bg-color-radial{background: #fff;background: -moz-radial-gradient(circle, #fff 0%, #b5bbb1 100%);background: -webkit-radial-gradient(circle, #fff 0%, #b5bbb1 100%);background: radial-gradient(circle, #fff 0%, #b5bbb1 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff",endColorstr="#b5bbb1",GradientType=1);}
.head-module-center h1, .head-module-center h2{border-bottom:#60646b 5px solid;}
.progress-moved .progress-bar2 {background-color: #b5bbb1;animation: progress 5s infinite;}
@keyframes progress {
0% {width: 0%;background: transparent;}
100% {width: 100%;background: #b5bbb1;}
}
.persen-progress:after{border-top:#b5bbb1 14px solid !important;border-right:10px solid transparent;}
.layanan-info-title:after{border-top:#878b91 60px solid;border-right:40px solid transparent;}
.progress {background-color: #adadad !important;}
.to-home{background:#adadad;}
.to-home:after{background: #878b91;background: -moz-linear-gradient(90deg, #878b91 10%, transparent 100%);background: -webkit-linear-gradient(90deg, #878b91 10%, transparent 100%);background: linear-gradient(90deg, #878b91 10%, transparent 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="transparent",endColorstr="transparent",GradientType=1);}
.image-zoom:after{border-left:#adadad 90px solid;}
.articlehome .image-zoom:after{border-right:#adadad 70px solid;border-left:none;}
.head-statis-title h1{color:#c4d36f;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {color: #fff !important;background-color: #878b91;border-color: #878b91;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {background-color: #60646b;border-color: #60646b;color: #fff !important;}
.runningpage-info{background:#60646b;}
.runningpage-info:after{border-left:#60646b 15px solid;}
.petastyle .bg-navy {background-color: #154317 !important;color: #fff !important;}
.statistik-title svg{fill:#a0d464;}
.stat-active, a.stat-active{color:#878b91;}
.stat-active:after{border-left:#adadad 12px solid;}
.widget-height .highcharts-color-0 {fill: #62a0b2;stroke: #62a0b2;}
.widget-height .highcharts-color-1 {fill: #89c363;stroke: #89c363;}
.widget-height .highcharts-color-2 {fill: #a585a2;stroke: #a585a2;}
.widget-height .highcharts-color-3 {fill: #EB9486;stroke: #EB9486;}
.widget-height .highcharts-color-4 {fill: #ff0000;stroke: #ff0000;}
.head-jadwalshalat a::after {border: solid #878b91;border-width: 0 2px 2px 0;}

.loading span{background: #878b91;}
.loading span:nth-of-type(2) {background: #11992a;animation-delay: 0.2s;}
.loading span:nth-of-type(3) {background: #15a469;animation-delay: 0.4s;}
.loading span:nth-of-type(4) {background: #00aa98;animation-delay: 0.6s;}
.loading span:nth-of-type(5) {background: #23a2bd;animation-delay: 0.8s;}
.loading span:nth-of-type(6) {background: #117899;animation-delay: 1.0s;}
.loading span:nth-of-type(7) {background: #60646b;animation-delay: 1.2s;}
#ScrollToTop{background:#878b91;}
.mosque1 svg, .mosque2 svg{fill:#fff;stroke:#a3a3a3;}
.withscroll, .widgetscroll, .withscrollbig {overflow-y: scroll;scrollbar-color:transparent transparent;scrollbar-width: thin;}
.withscroll, .widgetscroll, .withscrollbig, .modal-dialog {scrollbar-color: #bdc3b5 transparent;}
.withscroll::-webkit-scrollbar-thumb, .widgetscroll::-webkit-scrollbar-thumb{background:#bdc3b5;}
.widget-height .withscroll::-webkit-scrollbar-thumb, .box-anggaran .withscroll::-webkit-scrollbar-thumb, .widget-height .widgetscroll::-webkit-scrollbar-thumb, .box-anggaran .widgetscroll::-webkit-scrollbar-thumb{background:transparent;}
.widget-height:hover .withscroll::-webkit-scrollbar-thumb, .box-anggaran:hover .withscroll::-webkit-scrollbar-thumb, .widget-height:hover .widgetscroll::-webkit-scrollbar-thumb, .box-anggaran:hover .widgetscroll::-webkit-scrollbar-thumb{background:#bdc3b5;}
.withscrollbig::-webkit-scrollbar-thumb{border-radius:10px;background-image: linear-gradient(180deg, #878b91 0%, #60646b 99%);}
.articlehome .modalscroll::-webkit-scrollbar-thumb{border-radius:10px;background:#bdc3b5;}
.modalscroll, .articlehome .modalscroll  {scrollbar-color: #bdc3b5 transparent;}
.nav-wrapper ul li a:hover, .nav-wrapper ul li a:focus{color:#ffffff !important;}
.articlehome .modal-backdrop.in {filter: alpha(opacity=0);background: #878b91;background: -moz-linear-gradient(90deg, #878b91 0%, #60646b 80%);background: -webkit-linear-gradient(90deg, #878b91 0%, #60646b 80%);background: linear-gradient(90deg, #878b91 0%, #60646b 80%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878b91",endColorstr="#60646b",GradientType=1);opacity: .8;}
.article-link svg{fill:#878b91;}
.bg-gradient-black{background: rgba(0,0,0,0.3);background: -moz-linear-gradient(90deg, rgba(0,0,0,0.3) 0%, #60646b 80%);background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.3) 0%, #60646b 80%);background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, #60646b 80%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgba(0,0,0,0.3)",endColorstr="#60646b",GradientType=1);}
.mainheader-cover-image1, .mainheader-cover-image2{-webkit-filter: grayscale(1);filter: grayscale(1);}

@media (max-width: 992px) {
.runningpage{background: #878b91;background: -moz-linear-gradient(90deg, #878b91 0%, #60646b 80%);background: -webkit-linear-gradient(90deg, #878b91 0%, #60646b 80%);background: linear-gradient(90deg, #878b91 0%, #60646b 80%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878b91",endColorstr="#60646b",GradientType=1);}
.stat-active:after{border-bottom:#adadad 10px solid;border-left:transparent 10px solid;border-right:transparent 10px solid;}
.aparatur-top.bg-color5{background-color:#adadad;}
}