/*
 * File ini berisi CSS untuk tema 'hadakewa' susunan Happy Agung
 * CSS ini memakai image:
 *     - latar belakang body yang ditempatkan di themes/hadakewa/css/images/img1.jpg
 *     - dan latar belakang header yang ditempatkan di themes/hadakewa/css/images/bg_header.jpg
 *
 * first.css ini berisi perubahan untuk styles yang ada di assets/front/css/first.css
 *
*/

html{
  <param name="quality" value="high" />
  <embed src="http://www.4shared.com/embed/487028039/72ce44cf/preview.swf" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="147" height="34" ></embed>
}
a, a:active {
	color: #0404fd;
}
a:visited {
	color: #0404fd;
}
a:hover {
	color: #fd0315;
}

body{
  background: url(images/img1.jpg) no-repeat center center fixed;; /*warna background bodi web*/
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Roboto', sans-serif;
	color: rgba(51, 51, 51, 0.96);
}
#headercontent {
    width: 100%;
	margin-left: 0px;
}
#maincontainer{
  background: #fff;
}

#topsection{
  height: 288px;
  background: url(images/bg_header.jpg);
  margin: 6px 0px 6px 0px;
}
#footer{
  padding: 3px 0;
  background: #00c0ef;
}
#footer-left{
  text-align: left;
    padding: 10px;
    width: 47%;
}
#footer-right{
    padding: 10px;
    width: 53%;
    float: right;
    margin-top: -50px;
}
#footer a {
    color: #fff;
}

#header{
	width: 100%;
}
#scroller {
    margin-top: 23px;
    margin-left: 0px;
    width: 100%;
    background: #17b514;
	border-right: 0px solid;
}
#headleft{
	float: left;
    width: 100%;
	margin-left: 0;
	margin-top: -80px;
}

#menu_vert{
	border-top: 0px solid #777;
	margin-top: 0px;
	max-width: 99.8%;
    margin-right: 0px;
	border-radius: 0px;
	height: 32px;
    border: 1px #ddd solid;
    background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	box-shadow: 0px 0px 0px #555;
    -moz-box-shadow: 0px 0px 0px #000;
    -webkit-box-shadow: 0px 0px 0px #000;
}
#menu_vert2 {
    top: 6px;
    margin-top: -8px;
    margin-left: -13px;
    width: 100%;
    float: left;
    height: 91px;
}

#divlogo-img {
    margin-left: auto;
    margin-right: auto;
	float: none;
}
#divlogo-img img{
	height:110px;
	margin-top:5px;
	margin-bottom: 5px;
}
#divlogo-txt {
    margin-left: 0;
}
#mainmenu {
    margin: 0px 0 0px 0px;
    max-width: 100%;
	border-radius: 0px;
    width: 101.1%;
    height: 34px;
    border: 1px #ddd solid;
    background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
/* * Box * */
.box {
	position: inherit;
    border-radius: 0px;
    border-top: 0px solid #d2d6de;
    margin-bottom: 10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.box-body-artikel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px 0px 10px 0px;
}
.box.box-solid.box-danger > .box-header {
  background: #fe0012;
  background-color: #fe0012;
}
.box.box-danger {
    border-top: 0px solid #dd4b39;
}
.box-header.with-border {
    background: #00c0ef;
    border-top: 5px solid #CCC;
    border-bottom: 5px solid #CCC;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.box.box-primary {
    border-top: 0px solid #3c8dbc;
}
.box.box-default {
	border: 1px solid #00c0ef;
}
.box-header {
	color: #fff;
    background: #00c0ef;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0px 1px 1px #333;
}
.box.box-solid.box-primary {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-primary > .box-header {
    background: #00c0ef
}
.box.box-solid.box-default {
    border: 1px solid #00c0ef;
}
.box.box-success {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-default > .box-header {
    color: #fff;
    background: #00c0ef;
}
.box.box-solid.box-warning {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-warning > .box-header {
    background: #00c0ef;
}
.box.box-solid.box-info > .box-header {;
    border-bottom: 0px;
    border-top: 0px;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 0px;
  background-color: #ffffff;
  margin-right: auto;
    margin-left: auto;
	margin-top: -10px;
    text-align: center;
}
/* * Menampilkan Artikel mengganti background artikel dll  * */
.artikel .sampul img {
	margin-left: auto;
	margin-right: auto;
    width: 100%;
}
.artikel{
	margin-top: 0em;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px #ccc;
    border-radius: 2px;
}
.artikel .judul{
	font-size: 1.1em;
    color: #333;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-bottom: 0em;
	margin-top: 0px;
}
.artikel .kecil{
	font-size:11px;
	color:#aaa;
	font-style:normal;
	margin-top: 3px;
}
.artikel .sampul{
	margin: 0.3em 0 1em 0;
	width:100%;
}
.artikel .teks img{
	margin-right: 7px;
	max-width: 260px;
    max-height: 155px;
}
.artikel .teks p {
    margin: 0 0 0.5em 0;
}
blockquote {
    margin: 10px 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.gb{
	border-bottom:solid 2px #eee;
}
.pagination {
    margin: 10px 0;
}
/* Typographic */
th {
    font-weight: normal;
    text-align: -internal-center;
}
h4 {
    display: block;
    font-weight: normal;
}
#siteTitle {
    line-height: 1.2em;
	padding: 0;
	text-align: center;
}
#siteTitle h1{
	font-family: "Arial", sans-serif;
    font-size: 200%;
    color: #0c83c5;
    margin-top: -18px;
	margin-bottom: -10px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #000;
    -webkit-text-stroke: 1px #fff;
} /* mengubah font judul web ( desa ) */
#siteTitle h1_1{
    font-family: "Courier New", sans-serif;
    font-size: 30px;
    color: #0c83c5;
    padding-top: 29px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #777;
    margin-bottom: -20px;
    -webkit-text-stroke: 1px #fff;
} /* mengubah font judul web ( desa ) */
#siteTitle h2{
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #f67f0c;
    font-weight: bold;
	text-shadow: 4px 4px 4px #000;
    margin-top: 27px;
    margin-bottom: 13px;
    text-transform: uppercase;
} /* mengubah font judul web ( kecamatan dan kabupaten ) */
#siteTitle h3{
font-family: "Arial", sans-serif;
    font-size: 83%;
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 2px #000;
    margin-top: 15px;
    text-transform: uppercase;
    margin-bottom: 8px;
} /* mengubah font judul web ( alamat ) */
#siteTitle h4{
    font-family: "Gautami", sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    margin-top: -11px;
    text-transform: uppercase;
    margin-bottom: 2px;
} /* mengubah font kontak web ( alamat ) */

/* Start Form */
input:not([type]),
input[type="email" i],
input[type="number" i],
input[type="password" i],
input[type="tel" i],
input[type="url" i],
input[type="text" i] {
    padding: 3px 5px;
    margin-bottom: 5px;
	margin-left: 5px;
    width: 96%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 3px 5px;
	margin-top: 5px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
	border-radius: 3px;
	margin-left: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2px;
} /* End Form */
/* Start Chart Button */
.btn-xs,
.btn-xs, .btn-group-xs > .btn {
    padding: 5px 5px;
    margin-top: 2px;
    margin-left: 4px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
} /* End Chart Button */
/* Start Button Layanan Mandiri */
.btn-block {
  display: block;
  width: 100%;
  margin-top: 5px;
}
#mandiri td {
    padding-right: 10px;
} /* End Button Layanan Mandiri */
/* Start Table Bantuan Layanan Mandiri */
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  text-align: center;
} /* End Table Bantuan Layanan Mandiri */
/* Layanan Mandiri */
.artikel.layanan .judul {
    font-size: 0.9em;
    background-color: #79b4d6;
    color: #fbfbfb;
}
.table td, .table th {
    background-color: rgba(255, 255, 255, 0) !important;
}
#contentwrapper {
    width: 100%;
	margin-top: 8px;
}
#rightcolumn {
    margin-top: 8px;
}
#ul-menu {
    list-style-type: square;
	margin-left: 20px;
	margin-bottom: 0px;
}
ul {
    list-style: disc;
    margin-left: 20px;
}
#li-komentar {
    list-style: none;
    margin: 0;
    padding: 0px;
}
#small-agenda {
    font-weight: bold;
    color: #ca0b0b;
    font-size: 11.3px;
	margin-bottom: -5px;
}
#td-bantuan {
	text-align: center;
}
#h3-bantuan {
	text-align: center;
	font-weight: bold;
}
#form-komentar .nama input {
    width: 66%;
}
#form-komentar .alamat input {
    width: 66%;
}
#form-komentar .pesan textarea {
    width: 96%;
    height: 150px;
}
#headline img {
    width: 100%;
}
#ul-mandiri {
    list-style: none;
    margin-left:0;
}
}