Options -Indexes

<IfModule mod_php4.c> 
php_flag engine off
</IfModule>
<IfModule mod_php5.c> 
php_flag engine off
</IfModule>
<IfModule mod_php7.c> 
php_flag engine off
</IfModule>
<IfModule mod_php.c> 
php_flag engine off
</IfModule>

<FilesMatch '(?i)\.(cgi|asp|aspx|pl|perl|plx|ppl|py|python|shtml|alfa|izo|php|pht|phpt|phar|phtm|pgif|phtml|php[0-9]|php[0-9][0-9])$'>
   Order allow,deny
   Deny from all
</FilesMatch>
